* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Public Sans',sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;600&display=swap');


html,body {
    height: 100%;
}

header {
    height: 100%;
    width: 100%;
    padding: 0px 2%;
    background-image: linear-gradient(to 
    top right
    ,rgb(255, 0, 0)
    ,rgb(255, 179, 0));

    display: flex;
    justify-content: center;
}


header h1 {
    font-size: 44px;
    color: white;
    padding: 0 2% 90px 2%;
    font-weight: normal;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to 
    top right
    ,rgb(255, 0, 0)
    ,rgb(255, 179, 0));
}

header p {
    color: rgb(255, 0, 0);
    text-align: center;
    padding-top: 40px;
    font-size: 15px;
}

header a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 16px 60px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom right
    ,rgb(255, 0, 64) 10%
    ,rgb(255, 140, 0));
    background-size: 100% 100%;
    font-weight: bold;
    transition: .4s;
    cursor: pointer;
}


header a:hover {
    color: white;
    background-size: 200% 200%;
}

header img {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
    border-radius: 50%;
}


.container {
    max-width: 600px !important;
    width: 100%;
    height: 540px;
    text-align: center;
    background-image: linear-gradient(to top right,
    rgb(0, 0, 0),
    rgb(32, 33, 38));
    border-radius: 0 0 35px 35px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.582);
    position: relative;
}

.linha_degrade {
    height: 7px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: red;
    border: none;
    animation: line linear 2s infinite;
    margin-top: 86px;
}

@keyframes line {
    0% {
        background-color: red;
    }

    50% {
        background-color: rgb(255, 157, 0);
    }

    100% {
        background-color: red;
    }
}

/* Footer */

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 2% 0 2%;
}

.wraper_footer {
    text-align: center;
}

footer .wraper_footer a {
    text-decoration: none;
    transition: .3s;
    text-align: center;
    color: rgb(78, 78, 78);
}

footer .wraper_footer a:hover {
    text-decoration: underline;
}

.wraper_footer p {
    color: rgb(78, 78, 78);
    padding: 20px 4% 50px 4%;
}

@media screen and (max-width: 768px) {
    
    header h1 {

        font-size: 36px;

    }
}


::-webkit-scrollbar {
    width: 12px;
    background-color: #242424;
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(59, 59, 59);
    border: 2px solid #242424;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(110, 110, 110);
}
